.section4__general{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 0px;
}
.section4__box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.section4__box h2{
    border: 1px solid #CF0028;
    border-radius: 100%;
    padding: 45px 15px;
    color: #CF0028;
}